Código Node-RED/flows.json
[
    {
       "id":"0ffea1c49b23ef22",
       "type":"tab",
       "label":"Flow 1",
       "disabled":false,
       "info":"",
       "env":[
          
       ]
    },
    {
       "id":"mqtt_broker",
       "type":"mqtt-broker",
       "name":"Aedes Broker",
       "broker":"localhost",
       "port":"1883",
       "clientid":"",
       "autoConnect":true,
       "usetls":false,
       "protocolVersion":"4",
       "keepalive":"60",
       "cleansession":true,
       "autoUnsubscribe":true,
       "birthTopic":"",
       "birthQos":"0",
       "birthPayload":"",
       "birthMsg":{
          
       },
       "closeTopic":"",
       "closePayload":"",
       "closeMsg":{
          
       },
       "willTopic":"",
       "willQos":"0",
       "willPayload":"",
       "willMsg":{
          
       },
       "userProps":"",
       "sessionExpiry":""
    },
    {
       "id":"e1d54d097bd96286",
       "type":"ui_group",
       "name":"Default",
       "tab":"40d42d1229455441",
       "order":1,
       "disp":true,
       "width":"6",
       "collapse":false,
       "className":""
    },
    {
       "id":"fc6c944d20ae30c8",
       "type":"ui_base",
       "theme":{
          "name":"theme-light",
          "lightTheme":{
             "default":"#0094CE",
             "baseColor":"#0094CE",
             "baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
             "edited":true,
             "reset":false
          },
          "darkTheme":{
             "default":"#097479",
             "baseColor":"#097479",
             "baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
             "edited":false
          },
          "customTheme":{
             "name":"Untitled Theme 1",
             "default":"#4B7930",
             "baseColor":"#4B7930",
             "baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
          },
          "themeState":{
             "base-color":{
                "default":"#0094CE",
                "value":"#0094CE",
                "edited":false
             },
             "page-titlebar-backgroundColor":{
                "value":"#0094CE",
                "edited":false
             },
             "page-backgroundColor":{
                "value":"#fafafa",
                "edited":false
             },
             "page-sidebar-backgroundColor":{
                "value":"#ffffff",
                "edited":false
             },
             "group-textColor":{
                "value":"#1bbfff",
                "edited":false
             },
             "group-borderColor":{
                "value":"#ffffff",
                "edited":false
             },
             "group-backgroundColor":{
                "value":"#ffffff",
                "edited":false
             },
             "widget-textColor":{
                "value":"#111111",
                "edited":false
             },
             "widget-backgroundColor":{
                "value":"#0094ce",
                "edited":false
             },
             "widget-borderColor":{
                "value":"#ffffff",
                "edited":false
             },
             "base-font":{
                "value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
             }
          },
          "angularTheme":{
             "primary":"indigo",
             "accents":"blue",
             "warn":"red",
             "background":"grey",
             "palette":"light"
          }
       },
       "site":{
          "name":"Node-RED Dashboard",
          "hideToolbar":"false",
          "allowSwipe":"false",
          "lockMenu":"false",
          "allowTempTheme":"true",
          "dateFormat":"DD/MM/YYYY",
          "sizes":{
             "sx":48,
             "sy":48,
             "gx":6,
             "gy":6,
             "cx":6,
             "cy":6,
             "px":0,
             "py":0
          }
       }
    },
    {
       "id":"40d42d1229455441",
       "type":"ui_tab",
       "name":"Home",
       "icon":"dashboard",
       "disabled":false,
       "hidden":false
    },
    {
       "id":"36beb01476bd2feb",
       "type":"aedes broker",
       "z":"0ffea1c49b23ef22",
       "name":"",
       "mqtt_port":1883,
       "mqtt_ws_bind":"port",
       "mqtt_ws_port":"",
       "mqtt_ws_path":"",
       "cert":"",
       "key":"",
       "certname":"",
       "keyname":"",
       "dburl":"",
       "usetls":false,
       "x":170,
       "y":200,
       "wires":[
          [
             
          ]
       ]
    },
    {
       "id":"b34e7c01434831f5",
       "type":"mqtt in",
       "z":"0ffea1c49b23ef22",
       "name":"",
       "topic":"Mqtt/Status",
       "qos":"2",
       "datatype":"auto-detect",
       "broker":"mqtt_broker",
       "nl":false,
       "rap":true,
       "rh":0,
       "inputs":0,
       "x":350,
       "y":280,
       "wires":[
          [
             "64d1da5d236c5f9d"
          ]
       ]
    },
    {
       "id":"64d1da5d236c5f9d",
       "type":"ui_text",
       "z":"0ffea1c49b23ef22",
       "group":"e1d54d097bd96286",
       "order":3,
       "width":0,
       "height":0,
       "name":"",
       "label":"O brick disse: ",
       "format":"{{msg.payload}}",
       "layout":"row-spread",
       "className":"",
       "style":false,
       "font":"",
       "fontSize":16,
       "color":"#000000",
       "x":620,
       "y":280,
       "wires":[
          
       ]
    },
    {
       "id":"8e688d4b54a380f4",
       "type":"ui_text_input",
       "z":"0ffea1c49b23ef22",
       "name":"",
       "label":"",
       "tooltip":"",
       "group":"e1d54d097bd96286",
       "order":1,
       "width":0,
       "height":0,
       "passthru":true,
       "mode":"number",
       "delay":"0",
       "topic":"topic",
       "sendOnBlur":true,
       "className":"",
       "topicType":"msg",
       "x":370,
       "y":160,
       "wires":[
          [
             "556582b24294130c"
          ]
       ]
    },
    {
       "id":"556582b24294130c",
       "type":"mqtt out",
       "z":"0ffea1c49b23ef22",
       "name":"",
       "topic":"Mqtt/Motor",
       "qos":"2",
       "retain":"",
       "respTopic":"",
       "contentType":"",
       "userProps":"",
       "correl":"",
       "expiry":"",
       "broker":"mqtt_broker",
       "x":610,
       "y":160,
       "wires":[
          
       ]
    },
    {
       "id":"1e3c829f822e8a9c",
       "type":"mqtt in",
       "z":"0ffea1c49b23ef22",
       "name":"",
       "topic":"Mqtt/Motor",
       "qos":"2",
       "datatype":"auto-detect",
       "broker":"mqtt_broker",
       "nl":false,
       "rap":true,
       "rh":0,
       "inputs":0,
       "x":360,
       "y":220,
       "wires":[
          [
             "62cbd4016c5e4958"
          ]
       ]
    },
    {
       "id":"62cbd4016c5e4958",
       "type":"ui_text",
       "z":"0ffea1c49b23ef22",
       "group":"e1d54d097bd96286",
       "order":2,
       "width":0,
       "height":0,
       "name":"",
       "label":"Eu disse: ",
       "format":"{{msg.payload}}",
       "layout":"row-spread",
       "className":"",
       "style":false,
       "font":"",
       "fontSize":16,
       "color":"#000000",
       "x":600,
       "y":220,
       "wires":[
          
       ]
    }
 ]